@charset 'utf-8';

@import '../../../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss';
@import './global/_typography';

:root {
    --body-color: #303034;
    --dark: #38383C;
    --accent-color: #FFBE39;
}

html, body {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-family: 'merriweather';
    text-align: center;
    color: var(--body-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media (min-width: 1920px) {
        font-size: 30px;
    }
}

p {
    margin: 0 0 1em 0;
    line-height: 1.3;
}

a {
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
    color: var(--accent-color);
    &:hover {
        opacity: 0.7;
    }
    &:focus {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'southbank_ltregular';
    margin-bottom: 0.7em;
}

h1 {
    font-size: 2.9em;
}

h2 {
    font-size: 1.433333333em;
}

img {
    max-width: 100%;
}

hr {
    border: 1px solid #707070;
}

strong {
    font-weight: 600;
}

header {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    height: calc(100vh - 4em);
    padding: 1.2em 2.833333333em;
    overflow: hidden;
    .dark {
        background: black;
    }
    .gnb-logo {
        width: 4em;
        margin: 1em;
        opacity: 0.3;
    }
    @media (min-width: 768px) {
        .right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: baseline;
        }
        .gnb-logo {
            margin: 0 0 0 1em;
        }
    }
    .content-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        min-width: 80vw;
    }
}

.dark {
    background: black;
}

video.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: calc(100% + 2px); // Account for potential rounding errors that can cause 1px transparent edge
    min-height: calc(100% + 2px); // Account for potential rounding errors that can cause 1px transparent edge
    object-fit: cover;
    z-index: -1;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .social {
        margin: 1em 0;
        @media (min-width: 768px) {
            margin: 0 0 0 1em;
        }
    }
    .fill {
        fill: white;
    }
}

main, section {
    padding: 2.433333333em;
}

.widget {
    margin-top: 1.5em;
    margin-left: -2.433333333em;
    margin-right: -2.433333333em;
    margin-bottom: -2.433333333em;
    button.loadMore {
        background: white !important;
        color: var(--dark) !important;
        font-size: 1em !important;
        height: 85px !important;
    }
    .loadMore__text {
        font-size: 22px !important;
        font-weight: 600 !important;
        text-transform: uppercase !important;
        font-family: 'montserrat' !important;
        letter-spacing: 4px !important;
        padding: 1em 0 !important;
    }
}

form {
    display: flex;
    flex-direction: column;
}

form .fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.field {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.433333333em;
    position: relative;
    flex-basis: 100%;
    @media (min-width: 768px) {
        flex-basis: 33%;
        max-width: 483px;
    }
    label {
        display: none;
    }
    input, select {
        width: 100%;
    }
    &.select:before {
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        background: url(../img/selectarrows.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 0.433333333em;
        height: 0.966666667em;
        z-index: 999;
        pointer-events: none;
    }
}

input, select, button {
    font-family: 'montserrat';
    border-radius: 15px;
    border: 0;
}

input, select {
    font-size: 0.666666667em;
    padding: 0.862500009em 1em;
    line-height: 1.2;
    &:focus {
        box-shadow: 0 0 0 2px var(--dark);
    }
    &.error {
        box-shadow: 0 0 0 2px red;
    }
}

select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    position: relative;
    &::-ms-expand {
        display: none;
    }
}

button[type=submit] {
    background: transparent;
    border: 1px solid var(--body-color);
    margin: 0.433333333em;
    font-size: 0.933333333em;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0.4467em;
    line-height: 1;
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 0 0 2px var(--body-color);
        letter-spacing: 5px;
    }
}

label.error {
    font-size: 0.5em;
}

#response {
    font-size: 0.75em;
    margin: 1em;
}

.content-container {
    max-width: 33.933333333em;
    margin: 0 auto;
    @media (min-width: 1200px) {
        p {
            margin-left: 4em;
            margin-right: 4em;
        }
    }
}

.logo {
    width: 7.562666667em;
}

.language-picker {
    font-size: 0.733333333em;
    font-family: 'montserrat';
    position: absolute;
    top: 1em;
    right: 1em;
    @media (min-width: 768px) {
        position: static;
    }
    a {
        color: white;
    }
    .divider {
        content: '|';
        margin: 0 0.25em;
    }
    .current {
        font-weight: 800;
    }
}

div.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 4.784333333em;
    height: 1.2em;
    a {
        display: block;
        height: 100%;
    }
    svg {
        height: 100%;
    }
}

.social-share {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0 2em 0;
    & > a {
        display: inline-block;
        margin: 0 0.25em;
    }
}

.sans-serif {
    font-family: 'montserrat';
}

.serif {
    font-family: 'merriweather';
}

.spaced {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
}

.spaced-reset {
    letter-spacing: 0;
    text-transform: none;
}

.accent {
    color: var(--accent-color);
}

.medium {
    font-size: 0.866666667em;
}

.small {
    font-size: 0.733333333em;
}

.tiny {
    font-size: 0.533333333em;
    margin-top: 1em;
}

.instructions {
    font-family: 'montserrat';
    font-size: 0.53333333em;
    max-width: 50em;
    margin: 4em auto 0 auto;
    opacity: 0.5;
    p {
        margin-left: auto;
        margin-right: auto;
    }
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    margin: 0 auto;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 1018px;
    }
}

main {
    padding-bottom: 0;
    .social-container {
        margin: 1em 0 2em 0;
        fill: var(--dark);
    }
    &.content {
        padding: 2em 1em;
        text-align: left;
        font-family: 'montserrat';
        p {
            margin: 1em 0;
        }
    }
}

ol, ul {
    margin: 1em 0 1em 2em;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    line-height: 1.3;
}

ul.image-downloads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    font-size: 0.5em;
    margin-top: -0.5em;
    margin-left: -0.25em;
    margin-right: -0.25em;
    div {
        position: relative;
        width: 100%;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.7) 100%);
        }
    }
    li {
        text-align: center;
        margin-top: 1em;
        @media (min-width: 768px) {
            flex-basis: 33%;
        }
    }
    a {
        margin: 0.25em;
        display: block;
    }
    img {
        width: 100%;
        display: block;
    }
    .descriptor {
        color: white;
        position: absolute;
        left: 1em;
        right: 1em;
        bottom: 0.5em;
        text-align: left;
    }
    .download {
        color: var(--body-color);
        text-transform: uppercase;
        font-family: montserrat;
        font-weight: 600;
        margin: 1em;
        display: block;
        &:after {
            display: inline-block;
            content: '';
            background: url(../img/download.svg);
            width: 1.25em;
            height: 1.25em;
            margin-left: 1em;
        }
    }
}

section.escape {
    padding-bottom: 0;
    h3 {
        max-width: 20em;
        margin-left: auto;
        margin-right: auto;
    }
    hr {
        margin-top: 2.433333333em;
    }
}

section.crowdriff {
    font-family: 'montserrat';
    .callout {
        display: block;
        font-size: 1.615384615em;
    }
}

section.newsletter {
    background: var(--accent-color);
    @media (min-width: 1200px) {
        p {
            margin-left: 7.5rem;
            margin-right: 7.5rem;
        }
    }
}

section.social {
    background: var(--dark);
    color: white;
    .social-container {
        font-size: 1.578947368em;
    }
    .fill {
        fill: var(--accent-color);
    }
}

footer {
    background: black;
    color: white;
    border-bottom: 1.633333333em solid black;
    font-family: 'montserrat';
    @media (min-width: 1200px) {
        p {
            margin-left: 7.4em;
            margin-right: 7.4em;
            margin-bottom: 0;
        }
    }
    a {
        color: inherit;
        text-decoration: underline;
    }
    nav {
        font-size: 12px;
        text-transform: uppercase;
        justify-content: center;
        // max-width: 724px;
        margin: 0 auto;
        &>* {
            margin: 0.5em 0;
        }
        @media (min-width: 650px) {
            flex-direction: row;
            &>* {
                margin: 0;
                &:not(:last-child):after {
                    content: '|';
                    margin: 0 1em;
                }
            }
        }
    }
}

.gnb-logo {
    width: 8.291em;
    margin: 2em;
}

body.privacy, body.confidentialite {
    header {
        height: auto;
    }
    main.content {
        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    }
}
//@import 'settings';
//@import 'foundation';
//@import 'motion-ui';

// Global styles
//@include foundation-global-styles;
//@include foundation-forms;
//@include foundation-typography;

// Grids (choose one)
//@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
// @include foundation-button;
// @include foundation-button-group;
// @include foundation-close-button;
// @include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-switch;
// @include foundation-table;
// Basic components
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-dropdown;
// @include foundation-pagination;
// @include foundation-tooltip;

// Containers
// @include foundation-accordion;
// @include foundation-media-object;
// @include foundation-orbit;
// @include foundation-responsive-embed;
// @include foundation-tabs;
// @include foundation-thumbnail;
// Menu-based containers
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-accordion-menu;
// @include foundation-drilldown-menu;
// @include foundation-dropdown-menu;

// Layout components
// @include foundation-off-canvas;
// @include foundation-reveal;
// @include foundation-sticky;
// @include foundation-title-bar;
// @include foundation-top-bar;

// Helpers
// @include foundation-float-classes;
// @include foundation-flex-classes;
// @include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
// @include motion-ui-transitions;
// @include motion-ui-animations;
