<footer>
  <div class="content-container">
    <img class="gnb-logo" src="assets/img/gnb.svg" alt="Government of New Brunswick" />
    <nav>
      <a href="https://www.tourismnewbrunswick.ca/Help/Privacy/" target="_blank" rel="noopener">Privacy Statement</a>
      <a href="https://tourismnewbrunswick.info/covid/" target="_blank" rel="noopener">Industry Website COVID Info</a>
      <span>&copy; Province of New Brunswick</span>
    </nav>
  </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3858670-28"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

 

  gtag('config', 'UA-3858670-28', {
    'linker': {
      'domains': ['nbtoujours.ca']
    }
  });
</script>