<header>
    <nav>
      <a href="/" class="logo"><img src="assets/img/logo.svg" alt="{{#ifequal language 'fr'}}Accueil{{else}}Home{{/ifequal}}" /></a>
      <div class="right">
        <div class="language-picker">
          <a href="https://nbalways.ca" lang="en" hreflang="en" {{#ifequal language 'en'}}class="current"{{/ifequal}}>EN</a><i class="divider">|</i>
          <a href="https://nbtoujours.ca" lang="fr" hreflang="fr" {{#ifequal language 'fr'}}class="current"{{/ifequal}}>FR</a>
        </div>
        <img class="gnb-logo" src="/assets/img/gnb.svg" alt="{{#ifequal language 'fr'}}Gouvernement du Nouveau-Brunswick{{else}}Government of New Brunswick{{/ifequal}}" />
      </div>
    </nav>
    <div class="content-container">
      <h1>{{{ hero }}}</h1>
    </div>
    <video id="background-video" class="background" poster="/assets/img/video-poster.jpg" autoplay muted loop>
    </video>
  </header>
  <main>
    <div class="content-container">
      <p class="spaced accent sans-serif">{{ intro }}</p>
      {{{ body }}}
      <div class="video">
        <iframe class="" src="{{#ifequal language 'fr'}}https://player.vimeo.com/video/412808357{{else}}https://player.vimeo.com/video/412808504{{/ifequal}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
      <!-- <div class="social-container">
        {{> social-en }}
      </div> -->
      <div class="social-share">
        {{#ifequal language 'fr'}}
        <span class="sans-serif spaced small">Partager</span>
        <a class="facebook-share-button" href="#"><svg style="margin-left: 0.5em;" height="1em" alt="Partager sur Facebook" class="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.22 69.11"><path id="Path_16" data-name="Path 16" class="fill" d="M19.51,23.76V15.12a4.13,4.13,0,0,1,3.9-4.32h3.9V0h-7.8C13,0,7.8,5.8,7.8,13v10.8H0v10.8H7.8V69.11H19.51V34.56h7.8l3.9-10.8Z"/></svg></a>
        <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=Bient%C3%B4t%20nous%20nous%20retrouverons.%20Nous%20explorerons%20ensemble%20le%20Nouveau-Brunswick,%20ses%20petits%20coins%20de%20paradis%20et%20tous%20les%20lieux%20que%20nous%20aimons.&hashtags=NBtoujours&url=https://nbtoujours.ca">
          <svg alt="Partager sur Twitter" style="margin-left: 0.5em;" height="1em" class="twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.94 65.76"><path id="Path_17" data-name="Path 17" class="fill" d="M80.94,7.79a34.79,34.79,0,0,1-9.56,2.62,16.53,16.53,0,0,0,7.3-9.18,33.14,33.14,0,0,1-10.52,4,16.59,16.59,0,0,0-28.7,11.34h0a16.56,16.56,0,0,0,.38,3.78A46.94,46.94,0,0,1,5.64,3a16.59,16.59,0,0,0,5.1,22.17,16.41,16.41,0,0,1-7.5-2v.18a16.66,16.66,0,0,0,13.29,16.3,16.37,16.37,0,0,1-4.35.55A15.1,15.1,0,0,1,9,39.91,16.77,16.77,0,0,0,24.55,51.47,33.36,33.36,0,0,1,4,58.54a31,31,0,0,1-4-.23,46.72,46.72,0,0,0,25.46,7.45c30.53,0,47.22-25.29,47.22-47.22,0-.73,0-1.44-.06-2.14a32.8,32.8,0,0,0,8.32-8.62Z"/></svg>
        </a>
        {{ else }}
        <a class="facebook-share-button" href="#"><img src="assets/img/Facebook_share_en.svg" alt="Share to Facebook"></a>
        <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=Soon%20enough%20we%E2%80%99ll%20be%20together,%20exploring%20New%20Brunswick%20and%20all%20the%20places%20and%20spaces%20we%20call%20home.&hashtags=NBalways&url=https://nbalways.ca"><img src="assets/img/Twitter_share.svg" alt="Share to Twitter"></a>
        {{/ifequal}}
      </div>
      <hr />
    </div>
  </main>
  <section class="crowdriff">
    <div class="content-container">
      {{{ crowdriff }}}
    </div>
    <div class="widget">
      <script id="cr-init__45bd98d8558dfd1f" src="https://starling.crowdriff.com/js/crowdriff.js" lang="{{ language }}" async></script>
    </div>  
  </section>
  <section class="newsletter">
    <div class="content-container">
      {{#ifequal language 'fr'}}
      <h2>Abonnez-vous à notre infolettre</h2>
      {{else}}
      <h2>Sign up for our newsletter</h2>
      {{/ifequal}}
      <form id="newsletter-form" action="/subscribe.php" method="post">
        {{{ newsletter }}}
        <div class="fields">
          <div class="field">
            <label>{{#ifequal language 'fr'}}Courriel{{else}}Email{{/ifequal}} </label>
            <input autocomplete="Email" aria-label="{{#ifequal language 'fr'}}Courriel{{else}}Email{{/ifequal}}" class="" id="Email" maxlength="200" name="Email" required="" type="email" placeholder="{{#ifequal language 'fr'}}Courriel{{else}}Email{{/ifequal}}">
          </div>
          <div class="field">
            <label>{{#ifequal language 'fr'}}Code postal{{else}}Postal Code{{/ifequal}} </label>
            <input aria-label="{{#ifequal language 'fr'}}Code postal{{else}}Postal Code{{/ifequal}}" id="PostalCode" maxlength="7" name="PostalCode" placeholder="{{#ifequal language 'fr'}}Code postal{{else}}Postal Code{{/ifequal}}">
          </div>
          <div class="field select">
            <label>{{#ifequal language 'fr'}}Langue{{else}}Language{{/ifequal}} </label>
            <select id="Language" name="Language" aria-label="{{#ifequal language 'fr'}}Langue{{else}}Language{{/ifequal}}">
              {{#ifequal language 'en'}}
                <option value="English">English</option>
                <option value="French">Français</option>
              {{else}}
                <option value="French">Français</option>
                <option value="English">English</option>
              {{/ifequal}}
            </select>
          </div>
        </div>
        <button type="submit">{{#ifequal language 'fr'}}Envoyer{{else}}Submit{{/ifequal}}</button>
        {{{ privacy }}}
      </form>
      <div id="response"></div>
  </section>
  <section class="social">
    <div class="content-container">
      <h2>{{ follow }}</h2>
      <div class="social-container">
        {{> social-en }}
      </div>
    </div>
  </section>
  {{#ifequal language 'fr'}}
    {{> footer-fr }}
  {{ else }}
    {{> footer-en }}
  {{/ifequal}}