<header>
    <nav>
      <a href="/" class="logo"><img src="assets/img/logo.svg" alt="{{#ifequal language 'fr'}}Accueil{{else}}Home{{/ifequal}}" /></a>
      <div class="right">
        {{> language-picker }}
        <img class="gnb-logo" src="/assets/img/gnb.svg" alt="{{#ifequal language 'fr'}}Gouvernement du Nouveau-Brunswick{{else}}Government of New Brunswick{{/ifequal}}" />
      </div>
    </nav>
    <div class="content-container">
      <h1>{{{ hero }}}</h1>
    </div>
    <video id="background-video" class="background" poster="/assets/img/video-poster.jpg" autoplay muted loop>
    </video>
  </header>
  <main>
    <div class="content-container">
      <p class="spaced accent sans-serif">{{ intro }}</p>
      {{{ body }}}
      <div class="video">
        <iframe class="" src="{{#ifequal language 'fr'}}https://player.vimeo.com/video/412808357{{else}}https://player.vimeo.com/video/412808504{{/ifequal}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
      <!-- <div class="social-container">
        {{> social-en }}
      </div> -->
      {{> social-share }}
      <hr />
    </div>
  </main>
  <section class="escape">
    <div class="content-container">
      <h3 class="sans-serif"><strong>Download Your Own Virtual Escape Assets</strong></h3>
      <p class="sans-serif small">It's easy to show off the best of New Brunswick</p>
      <ul class="image-downloads">
        <li>
          <a href="">
            <div>
              <img src="https://placeimg.com/300/168/nature?1" alt="">
              <span class="descriptor">Descriptor, NB</span>
            </div>
            <span class="download">Download</span>
          </a>
        </li>
        <li>
          <a href="">
            <div>
              <img src="https://placeimg.com/300/168/nature?2" alt="">
              <span class="descriptor">Descriptor, NB</span>
            </div>
            <span class="download">Download</span>
          </a>
        </li>
        <li>
          <a href="">
            <div>
              <img src="https://placeimg.com/300/168/nature?3" alt="">
              <span class="descriptor">Descriptor, NB</span>
            </div>
            <span class="download">Download</span>
          </a>
        </li>
        <li>
          <a href="">
            <div>
              <img src="https://placeimg.com/300/168/nature?4" alt="">
              <span class="descriptor">Descriptor, NB</span>
            </div>
            <span class="download">Download</span>
          </a>
        </li>
        <li>
          <a href="">
            <div>
              <img src="https://placeimg.com/300/168/nature?5" alt="">
              <span class="descriptor">Descriptor, NB</span>
            </div>
            <span class="download">Download</span>
          </a>
        </li>
        <li>
          <a href="">
            <div>
              <img src="https://placeimg.com/300/168/nature?6" alt="">
              <span class="descriptor">Descriptor, NB</span>
            </div>
            <span class="download">Download</span>
          </a>
        </li>
        <li>
          <a href="">
            <div>
              <img src="https://placeimg.com/300/168/nature?7" alt="">
              <span class="descriptor">Descriptor, NB</span>
            </div>
            <span class="download">Download</span>
          </a>
        </li>
        <li>
          <a href="">
            <div>
              <img src="https://placeimg.com/300/168/nature?8" alt="">
              <span class="descriptor">Descriptor, NB</span>
            </div>
            <span class="download">Download</span>
          </a>
        </li>
        <li>
          <a href="">
            <div>
              <img src="https://placeimg.com/300/168/nature?9" alt="">
              <span class="descriptor">Descriptor, NB</span>
            </div>
            <span class="download">Download</span>
          </a>
        </li>
      </ul>
      <hr />
    </div>
  </section>
  <section class="crowdriff">
    <div class="content-container">
      {{{ crowdriff }}}
    </div>
    <div class="widget">
      <script id="cr-init__45bd98d8558dfd1f" src="https://starling.crowdriff.com/js/crowdriff.js" lang="{{ language }}" async></script>
    </div>  
  </section>
  <section class="newsletter">
    <div class="content-container">
      {{#ifequal language 'fr'}}
      <h2>Abonnez-vous à notre infolettre</h2>
      {{else}}
      <h2>Sign up for our newsletter</h2>
      {{/ifequal}}
      <form id="newsletter-form" action="/subscribe.php" method="post">
        {{{ newsletter }}}
        <div class="fields">
          <div class="field">
            <label>{{#ifequal language 'fr'}}Courriel{{else}}Email{{/ifequal}} </label>
            <input autocomplete="Email" aria-label="{{#ifequal language 'fr'}}Courriel{{else}}Email{{/ifequal}}" class="" id="Email" maxlength="200" name="Email" required="" type="email" placeholder="{{#ifequal language 'fr'}}Courriel{{else}}Email{{/ifequal}}">
          </div>
          <div class="field">
            <label>{{#ifequal language 'fr'}}Code postal{{else}}Postal Code{{/ifequal}} </label>
            <input aria-label="{{#ifequal language 'fr'}}Code postal{{else}}Postal Code{{/ifequal}}" id="PostalCode" maxlength="7" name="PostalCode" placeholder="{{#ifequal language 'fr'}}Code postal{{else}}Postal Code{{/ifequal}}">
          </div>
          <div class="field select">
            <label>{{#ifequal language 'fr'}}Langue{{else}}Language{{/ifequal}} </label>
            <select id="Language" name="Language" aria-label="{{#ifequal language 'fr'}}Langue{{else}}Language{{/ifequal}}">
              {{#ifequal language 'en'}}
                <option value="English">English</option>
                <option value="French">Français</option>
              {{else}}
                <option value="French">Français</option>
                <option value="English">English</option>
              {{/ifequal}}
            </select>
          </div>
        </div>
        <button type="submit">{{#ifequal language 'fr'}}Envoyer{{else}}Submit{{/ifequal}}</button>
        {{{ privacy }}}
      </form>
      <div id="response"></div>
  </section>
  <section class="social">
    <div class="content-container">
      <h2>{{ follow }}</h2>
      <div class="social-container">
        {{> social-en }}
      </div>
    </div>
  </section>
  {{#ifequal language 'fr'}}
    {{> footer-fr }}
  {{ else }}
    {{> footer-en }}
  {{/ifequal}}