<section class="tunein">
    <div class="content-container">
        {{{ nbtvContent }}}
        <div class="clips">
            {{#each nbtvShows}}
                <div class="clip">
                    <a class="thumbnail" href="{{url}}" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/img/{{thumbnail}}" alt="{{title}}">
                    </a>
                    <p>
                        <span class="serif"><strong class="black">{{title}}</strong></span>
                        {{#if operator}}
                        <span class="sans-serif spaced tiny block">with</span>
                        <span class="serif small">{{operator}}</span>
                        {{/if}}
                    </p>
                    <p class="sans-serif tiny">{{description}}</p>
                </div>
            {{/each}}
        </div>
        <hr />
    </div>
</section>