<section class="soundscapes">
    <div class="content-container">
        {{{ soundscapesContent }}}
        <div class="soundscapes">
            {{#each soundscapes}}
                <div class="sound">
                    <div class="image">
                        <img src="/assets/img/{{image}}" alt="{{title}}">
                    </div>
                    <audio id="sound-{{@index}}">
                        <source src="/assets/sounds/{{file}}" type="audio/mpeg">
                    </audio>
                    <div class="controls">
                        <div class="playback" target="#sound-{{@index}}"></div>
                        <div class="track"><div class="position"></div></div>
                    </div>
                    <div class="legend">
                        <p>
                            <span class="serif"><strong>{{ title }}</strong></span>
                            <span class="sans-serif spaced tiny block">{{#ifequal ../language 'fr'}}Sons du{{else}}sounds of{{/ifequal}}</span>
                            <span class="serif small">{{#ifequal ../language 'fr'}}Nouveau-Brunswick{{else}}New Brunswick{{/ifequal}}</span>
                        </p>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="external">
            {{#each spotify}}
                <a href="{{url}}" class="button" target="_blank" rel="noopener noreferrer">{{title}}</a>
            {{/each}}
        </div>
        <hr />
    </div>
</section>