<section class="tunein">
    <div class="content-container">
        {{{ tuneinContent }}}
        <div class="clips">
            {{#each tuneinShows}}
                <div class="clip">
                    <a class="thumbnail" href="{{url}}" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/img/{{thumbnail}}" alt="{{title}}">
                    </a>
                    <p>
                        <span class="serif title"><strong class="black">{{title}}</strong></span>
                        <span class="sans-serif spaced tiny block">{{#ifequal ../language 'fr'}}Images du{{else}}sights of{{/ifequal}}</span>
                        <span class="serif small">{{#ifequal ../language 'fr'}}Nouveau-Brunswick{{else}}New Brunswick{{/ifequal}}</span>
                    </p>
                </div>
            {{/each}}
        </div>
        <hr />
    </div>
</section>