{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NB Always</title>
    <meta property="og:title" content="NB Always">
    <meta property="og:site_name" content="NB Always">
    <meta property="og:url" content="https://nbalways.ca">
    <meta property="og:description" content="There are a lot of things we all miss, but the things we love about New Brunswick last forever. Have hope&mdash;we'll be together soon.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="assets/img/ogimage-en.jpg">
    <link rel="shortcut icon" href="assets/img/favicon.png" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
