{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="{{ language }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ title }}">
    <meta property="og:url" content="https://{{ domain }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{#ifequal language 'fr'}}https://nbtoujours.ca{{else}}https://nbalways.ca{{/ifequal}}{{root}}/assets/img/ogimage-{{ language }}.jpg">
    <meta property="fb:app_id" content="261302084999775" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{root}}/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{root}}/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{root}}/assets/img/favicon-16x16.png">
    <link rel="manifest" href="{{root}}/assets/img/site.webmanifest">
    <link rel="mask-icon" href="{{root}}/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{root}}/assets/css/app.css?m=6">
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2675605342562945');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1"
      src="https://www.facebook.com/tr?id=2675605342562945&ev=PageView
      &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
  </head>
<body>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

<script src="{{root}}/assets/js/app.js?m=6"></script>
</body>
</html>
